<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
</head>
<body>
    <h2>Update Employee Details</h2>
    <form th:action="@{/save}" th:object="${employee}" method="post">
        <input type="hidden" th:field="*{eid}" />

        <div>
            <label>Name:</label>
            <input type="text" th:field="*{ename}" required />
        </div>
        <br>
        <div>
    <label>Department:</label>
    <input type="text" th:field="*{edept}" list="deptOptions" placeholder="Type or Select Department" required />
    
    <datalist id="deptOptions">
        <option value="IT">
        <option value="HR">
        <option value="SALES">
        <option value="ADMIN">
        <option value="CODER"> </datalist>
</div>
        <br>
        <button type="submit">Update</button>
    </form>
    <br>
    <a th:href="@{/list}">Cancel</a>
</body>
</html>