<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
</head>
<body>
    <h2>Forgot Password</h2>
    <div th:if="${param.emailSent}" style="color: green; margin-bottom: 10px;">
    Reset link has been sent to your Gmail. Please check your inbox!
    </div>
    <p>Enter your email address to receive a reset link.</p>
    
    <form th:action="@{/forgot-password}" method="post">
        <input type="email" name="email" placeholder="Enter Email" required />
        <button type="submit">Send Reset Link</button>
    </form>
    
    <br>
    <a th:href="@{/login}">Back to Login</a>
</body>
</html>