<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
</head>
<body>
    <h2>Create New Password</h2>
    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        
        <div>
            <label>New Password:</label>
            <input type="password" name="password" required />
        </div>
        <br>
        <button type="submit">Update Password</button>
    </form>
</body>
</html>